<%= if signed_in?(@conn) do %>
  <%= img_tag portrait_url(@conn, 256) %>
  <h2><%= current_character(@conn).name %></h2>
  <h3><%= corporation_name(@conn) %></h3>
<% else %>
  <p>
    Please sign in.
  </p>
<% end %>